<div class="login-container">
    <form [formGroup]="userForm" (ngSubmit)="login()">
        <div formGroupName="credentials" class="credentials">

            <div class="input-group">
                <label>
                    Username:
                    <input type="text" formControlName="username">
                </label>
            </div>
            <div *ngIf="userForm.get('credentials.username')?.errors && !userForm.get('credentials.username')?.pristine"
                class="error-msg">
                <div *ngIf="userForm.get('credentials.username')?.errors?.['required']">username is required</div>
                <div *ngIf="userForm.get('credentials.username')?.errors?.['minlength']">username must have at least 4
                    characters</div>
            </div>

            <div class="input-group">
                <label>
                    Email:
                    <input type="email" formControlName="email">
                </label>
            </div>
            <div *ngIf="userForm.get('credentials.email')?.errors && !userForm.get('credentials.email')?.pristine"
                class="error-msg">
                <div *ngIf="userForm.get('credentials.email')?.errors?.['required']">email is required</div>
                <div
                    *ngIf="userForm.get('credentials.email')?.errors?.['email'] && !userForm.get('credentials.email')?.errors?.['required']">
                    {{userForm.get('credentials.email')?.errors?.['email'].rules}}
                </div>
            </div>


            <div class="input-group">
                <label>
                    Password:
                    <input type="password" formControlName="password">
                </label>
            </div>
            <div *ngIf="userForm.get('credentials.password')?.errors && !userForm.get('credentials.password')?.pristine"
                class="error-msg">
                <div *ngIf="userForm.get('credentials.password')?.errors?.['required']">password is required</div>
                <div *ngIf="userForm.get('credentials.password')?.errors?.['minlength']">password must have at least 4
                    characters</div>
            </div>
        </div>

        <button type="submit" [disabled]="userForm.invalid">LOGIN</button>
    </form>
</div>